AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

AWS_REDIS_HOSTNAME=
AWS_REDIS_PORT=
AWS_REDIS_PASSWORD=

NODE_ENV=production

PORT=5001
ACTIVE_DB=postgres
JWT_SECRET=maY1le56893WRjtAQyzMemUUq3RfreGYJY1iL
JWT_TOKEN_EXPIRE_TIME=1h

REDIS_HOST=localhost
REDIS_PORT=6379

MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PORT=8081
MYSQL_PASSWORD=root
MYSQL_DATABASE=app-db


## App real database
POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PORT=5432
POSTGRES_PASSWORD=12345
POSTGRES_DATABASE=app-db


## Mail settings
MAIL_HOST=smtp.sendgrid.net
MAIL_PORT=465
MAIL_SECURE=true
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=


## Web push notification
## Use below command to generate keys
## npx web-push generate-vapid-keys
VAPID_PUBLIC_KEY=your-public-key
VAPID_PRIVATE_KEY= your-private-key